<launch>
    <arg name = "model_xacro" default = "$(find scout_gazebo)/urdf/base.xacro" />
    <!-- 将 Urdf 文件的内容加载到参数服务器 -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg model_xacro)" />

    <!--运行 joint_state_publisher 节点，发布机器人的关节状态-->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!--运行 robot_state_publisher 节点，发布TF-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!--运行rviz可视化界面-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find scout_gazebo)/config/show_robot.rviz" required="true" />
</launch>
